body{
    background-image: url(https://images.ctfassets.net/vfkpgemp7ek3/1204734511/2c0723c100ed8d02a603dfe74597a6cb/geometry-dash-revenue.jpg);
    background-size: 100%;
    text-align: center;
}

.title{
    text-align: center;
    color: yellow;
    font-size: 50px;
    margin-top: 32px;
    margin-bottom: 0;
    text-shadow: blue 3px 3px 1px;
}

.subtitle{
    text-align: center;
    color: yellow;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 0;
    text-shadow: blue -3px 3px 1px;
}

.version{
    color: white;
    margin: 0;
    width: 30px;
}

.multi-bloсk{
    width: 100%;
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
}

.bloсk{
    width: 500px;
    height: 650px;
    background-color: white;
    border-radius: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.external {
    margin: 20px;
    color: white;
    font-weight: 900;
    font-size: 1px;
}
.interior {
    color: rgb(255, 0, 43);
    font-size: 19px;
    font-weight: 900;
}

.external:hover{
    color: black;
    font-size: 20px ;
}

.img{
    display: flex;
    font-size: 25px;
    font-weight: 900;
    margin: 10px;
}