.meny{
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    width: 900px;
    margin-top: 100px;
    display: inline-table;
}

.meny_list{
    display: flex;
    justify-content: space-between
}

.meny_item{
    list-style-type: none;
    border-radius: 20px;
    background-image: linear-gradient(-110deg, #33ff00, #00b7ff);
    padding: 10px;
    width: 120px;
    height: 20px;
}

a{
    color: deeppink;
}

.meny_item:hover {
    background-image: linear-gradient(-110deg, #1f9d00, #0076a4);
}